<pluginMetaData>
	<name>External Script Transformer Step</name>
	<author>WebReach, Inc.</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>1.7.1</mirthVersion>
	<url>http://extensions.mirthproject.org</url>
	<description>This plugin provides an External Script step-type for Mirth transformers</description>
	<enabled>true</enabled>
	<extensionPoint>
		<name>External Script</name>
		<type>CLIENT_TRANSFORMER_STEP</type>
		<className>com.webreach.mirth.plugins.scriptfilestep.ExternalScriptPlugin</className>
		<mode>CLIENT</mode>
	</extensionPoint>
	<library type="CLIENT" path="scriptfilestep-client.jar" />
</pluginMetaData>