<pluginMetaData path="dashboardstatus">
	<name>Dashboard Connector Status Monitor</name>
	<author>WebReach, Inc.</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>1.8.0</mirthVersion>
	<url>http://extensions.mirthproject.org</url>
	<description>This plugin provides a real-time connection status column on the Mirth client</description>
	<enabled>true</enabled>
	<extensionPoint>
		<name>Dashboard Status Logger</name>
		<type>SERVER_CONNECTOR_STATUS</type>
		<className>com.webreach.mirth.plugins.dashboardstatus.DashboardConnectorStatusMonitorLogger</className>
		<mode>SERVER</mode>
	</extensionPoint>
	<extensionPoint>
		<name>Dashboard Status Column Server</name>
		<type>SERVER_PLUGIN</type>
		<className>com.webreach.mirth.plugins.dashboardstatus.DashboardConnectorStatusMonitor</className>
		<mode>SERVER</mode>
	</extensionPoint>
	<extensionPoint>
		<name>Dashboard Status Column</name>
		<type>CLIENT_DASHBOARD_COLUMN</type>
		<className>com.webreach.mirth.plugins.dashboardstatus.DashboardConnectorStatusColumn</className>
		<mode>CLIENT</mode>
	</extensionPoint>
	<extensionPoint>
		<name>Dashboard Status Panel</name>
		<type>CLIENT_DASHBOARD_PANE</type>
		<className>com.webreach.mirth.plugins.dashboardstatus.DashboardConnectorStatusClient</className>
		<mode>CLIENT</mode>
	</extensionPoint>
	<library path="dashboardstatus-server.jar">
		<type>SERVER</type>
	</library>
</pluginMetaData>