<pluginMetaData path="datatype-dicom">
	<name>DICOM Data Type</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.0.2</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides support for the DICOM data type</description>
	<serverClasses>
		<string>com.mirth.connect.plugins.datatypes.dicom.DICOMDataTypeServerPlugin</string>
	</serverClasses>
	<clientClasses>
		<string>com.mirth.connect.plugins.datatypes.dicom.DICOMDataTypeClientPlugin</string>
	</clientClasses>
	<library type="CLIENT" path="datatype-dicom-client.jar" />
	<library type="SHARED" path="datatype-dicom-shared.jar" />
	<library type="SERVER" path="datatype-dicom-server.jar" />
</pluginMetaData>