<pluginMetaData path="imageviewer">
	<name>Image Viewer</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>2.1.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides image attachment viewing capability in message browser.</description>
	<enabled>true</enabled>
	<clientClasses>
		<class>com.mirth.connect.plugins.imageviewer.ImageViewer</class>
	</clientClasses>
	<library type="CLIENT" path="imageviewer-client.jar" />
</pluginMetaData>