<pluginMetaData path="libraryresource">
	<name>Library Resource Plugin</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.2.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin allows a directory to be used as a source for libraries to include in channels.</description>
	<serverClasses>
		<string>com.mirth.connect.plugins.libraryresource.LibraryResourcePlugin</string>
	</serverClasses>
	<clientClasses>
		<string>com.mirth.connect.plugins.libraryresource.LibraryResourceClientPlugin</string>
	</clientClasses>
	<library type="SERVER" path="libraryresource-server.jar" />
	<library type="CLIENT" path="libraryresource-client.jar" />
	<library type="SHARED" path="libraryresource-shared.jar" />
</pluginMetaData>