<pluginMetaData path="javascriptstep">
	<name>JavaScript Transformer Step</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.5.1</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides a JavaScript step-type for Mirth Connect transformers</description>
	<clientClasses>
		<string>com.mirth.connect.plugins.javascriptstep.JavaScriptStepPlugin</string>
	</clientClasses>
	<library type="CLIENT" path="javascriptstep-client.jar" />
	<library type="SHARED" path="javascriptstep-shared.jar" />
</pluginMetaData>