<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
	version="2.4"> 

	<display-name>ui Test Server</display-name>

	<servlet>
		<servlet-name>MRChannelController</servlet-name>
		<servlet-class>com.webreach.mirth.ui.ChannelController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MRChannelController</servlet-name>
		<url-pattern>/channel/*</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>MRChannelWizardController</servlet-name>
		<servlet-class>com.webreach.mirth.ui.ChannelWizardController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MRChannelWizardController</servlet-name>
		<url-pattern>/wizard/*</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>MREndpointController</servlet-name>
		<servlet-class>com.webreach.mirth.ui.EndpointController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MREndpointController</servlet-name>
		<url-pattern>/endpoint/*</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>MRAdminController</servlet-name>
		<servlet-class>com.webreach.mirth.ui.AdminController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MRAdminController</servlet-name>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>MRFilterController</servlet-name>
		<servlet-class>com.webreach.mirth.ui.FilterController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MRFilterController</servlet-name>
		<url-pattern>/filter/*</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>MRMainController</servlet-name>
		<servlet-class>com.webreach.mirth.ui.MainController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MRMainController</servlet-name>
		<url-pattern>/main/*</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>MRTransformerController</servlet-name>
		<servlet-class>com.webreach.mirth.ui.TransformerController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MRTransformerController</servlet-name>
		<url-pattern>/transformer/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MRScriptValidator</servlet-name>
		<servlet-class>com.webreach.mirth.ui.ScriptValidator</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MRScriptValidator</servlet-name>
		<url-pattern>/validator/*</url-pattern>
	</servlet-mapping>	


</web-app>
