<pluginMetaData path="xsltstep">
	<name>XSLT Transformer Step</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>2.1.1</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides a XSLT support step-type for Mirth Connect transformers</description>
	<enabled>true</enabled>
	<clientClasses>
		<string>com.mirth.connect.plugins.xsltstep.XsltStepPlugin</string>
	</clientClasses>
	<library type="CLIENT" path="xsltstep-client.jar" />
</pluginMetaData>