<pluginMetaData path="mapper">
	<name>Mapper Transformer Step</name>
	<author>NextGen Healthcare</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.8.0</mirthVersion>
	<url>http://www.nextgen.com</url>
	<description>This plugin provides a Mapping step type for NextGen Connect transformers</description>
	<clientClasses>
		<string>com.mirth.connect.plugins.mapper.MapperStepPlugin</string>
	</clientClasses>
	<library type="CLIENT" path="mapper-client.jar" />
	<library type="SHARED" path="mapper-shared.jar" />
</pluginMetaData>
