<pluginMetaData path="mapper">
	<name>Mapper Transformer Step</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>2.1.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides a Mapping step type for Mirth Connect transformers</description>
	<enabled>true</enabled>
	<clientClasses>
		<class>com.mirth.connect.plugins.mapper.MapperStepPlugin</class>
	</clientClasses>
	<library type="CLIENT" path="mapper-client.jar" />
</pluginMetaData>
