<pluginMetaData path="serverlog">
	<name>Server Log</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>2.1.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin allows you to view the server log on the Mirth Connect administrator.</description>
	<enabled>true</enabled>
	<serverClasses>
		<class>com.mirth.connect.plugins.serverlog.ServerLogProvider</class>
	</serverClasses>
	<clientClasses>
		<class>com.mirth.connect.plugins.serverlog.ServerLogClient</class>
	</clientClasses>
	<library type="CLIENT" path="serverlog-client.jar" />
	<library type="SERVER" path="serverlog-server.jar" />
</pluginMetaData>
