<pluginMetaData path="serverlog">
	<name>Server Log</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>2.0.1</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin allows you to view the server log on the Mirth administrator.</description>
	<enabled>true</enabled>
	<extensionPoint>
		<name>Server Log</name>
		<type>SERVER_PLUGIN</type>
		<className>com.mirth.connect.plugins.serverlog.ServerLogProvider</className>
		<mode>SERVER</mode>
	</extensionPoint>
	<extensionPoint>
		<name>Server Log</name>
		<type>CLIENT_DASHBOARD_PANE</type>
		<className>com.mirth.connect.plugins.serverlog.ServerLogClient</className>
		<mode>CLIENT</mode>
	</extensionPoint>
	<library path="serverlog-client.jar">
		<type>CLIENT</type>	
	</library>
	<library path="serverlog-server.jar">
		<type>SERVER</type>	
	</library>
</pluginMetaData>
