<pluginMetaData path="scriptfilestep">
	<name>External Script Transformer Step</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.2.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides an External Script step-type for Mirth Connect transformers</description>
	<clientClasses>
		<string>com.mirth.connect.plugins.scriptfilestep.ExternalScriptStepPlugin</string>
	</clientClasses>
	<library type="CLIENT" path="scriptfilestep-client.jar" />
</pluginMetaData>