<pluginMetaData path="scriptfilestep">
	<name>External Script Transformer Step</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>2.1.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides an External Script step-type for Mirth transformers</description>
	<enabled>true</enabled>
	<extensionPoint>
		<name>External Script</name>
		<type>CLIENT_TRANSFORMER_STEP</type>
		<className>com.mirth.connect.plugins.scriptfilestep.ExternalScriptStepPlugin</className>
		<mode>CLIENT</mode>
	</extensionPoint>
	<library path="scriptfilestep-client.jar">
		<type>CLIENT</type>
	</library>
</pluginMetaData>