<pluginMetaData path="textviewer">
	<name>Text Viewer</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.4.2</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides text and RTF attachment viewing capability in message browser.</description>
	<clientClasses>
		<string>com.mirth.connect.plugins.textviewer.TextViewer</string>
	</clientClasses>
	<library type="CLIENT" path="textviewer-client.jar" />
</pluginMetaData>