<pluginMetaData>
	<name>Javascript Filter Rule</name>
	<author>WebReach, Inc.</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>1.7.1</mirthVersion>
	<url>http://extensions.mirthproject.org</url>
	<description>This plugin provides a JavaScript rule-type for Mirth filters</description>
	<enabled>true</enabled>
	<extensionPoint>
		<name>Javascript</name>
		<type>CLIENT_FILTER_RULE</type>
		<className>com.webreach.mirth.plugins.filter.rule.javascript.JavascriptRulePlugin</className>
		<mode>CLIENT</mode>
	</extensionPoint>
	<library>javascript-filter-rule-client.jar</library>
</pluginMetaData>