<pluginMetaData path="dashboardstatus">
	<name>Dashboard Connector Status Monitor</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>2.1.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides a real-time connection status column on the Mirth Connect client</description>
	<enabled>true</enabled>
	<serverClasses>
		<class>com.mirth.connect.plugins.dashboardstatus.DashboardConnectorStatusMonitorLogger</class>
		<class>com.mirth.connect.plugins.dashboardstatus.DashboardConnectorStatusMonitor</class>
	</serverClasses>
	<clientClasses>
		<class>com.mirth.connect.plugins.dashboardstatus.DashboardConnectorStatusColumn</class>
		<class>com.mirth.connect.plugins.dashboardstatus.DashboardConnectorStatusClient</class>
	</clientClasses>
	<library type="SERVER" path="dashboardstatus-server.jar" />
</pluginMetaData>