<pluginMetaData path="rtfviewer">
	<name>RTF Viewer</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>2.1.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides RTF attachment viewing capability in message browser.</description>
	<enabled>true</enabled>
	<extensionPoint>
		<name>RTF Viewer</name>
		<type>ATTACHMENT_VIEWER</type>
		<className>com.mirth.connect.plugins.rtfviewer.RTFViewer</className>
		<mode>CLIENT</mode>
	</extensionPoint>
	<library path="rtfviewer-client.jar">
		<type>CLIENT</type>	
	</library>
</pluginMetaData>