<pluginMetaData path="globalmapviewer">
	<name>Global Map Viewer</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.4.2</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin allows you to view the global map and global channel maps in the Mirth Connect Administrator.</description>
	<serverClasses>
		<string>com.mirth.connect.plugins.globalmapviewer.GlobalMapProvider</string>
	</serverClasses>
	<clientClasses>
		<string weight="100">com.mirth.connect.plugins.globalmapviewer.GlobalMapClient</string>
	</clientClasses>
	<library type="CLIENT" path="globalmapviewer-client.jar" />
	<library type="SERVER" path="globalmapviewer-server.jar" />
	<library type="SHARED" path="globalmapviewer-shared.jar" />
	<apiProvider type="SERVLET_INTERFACE" name="com.mirth.connect.plugins.globalmapviewer.GlobalMapServletInterface"/>
	<apiProvider type="SERVER_CLASS" name="com.mirth.connect.plugins.globalmapviewer.GlobalMapServlet"/>
</pluginMetaData>
