<pluginMetaData path="javascriptrule">
	<name>Javascript Filter Rule</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>2.1.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides a JavaScript rule-type for Mirth Connect filters</description>
	<enabled>true</enabled>
	<clientClasses>
		<class>com.mirth.connect.plugins.javascriptrule.JavascriptRulePlugin</class>
	</clientClasses>
	<library type="CLIENT" path="javascriptrule-client.jar" />
</pluginMetaData>