<pluginMetaData path="uimaservice">
	<name>UIMA Service</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>2.1.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides a access to the UIMA service.</description>
	<enabled>true</enabled>
	<clientClasses>
		<string>com.mirth.connect.plugins.uima.UimaConfigurationClient</string>
	</clientClasses>
	<serverClasses>
		<string>com.mirth.connect.plugins.uima.UimaService</string>
	</serverClasses>
	<library type="CLIENT" path="uima-client.jar" />
	<library type="SERVER" path="uima-server.jar" />
</pluginMetaData>