a {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #000066;text-decoration: none;}
a:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #000066;text-decoration: underline;}

td {font-size: 13;}

.mainHeading {font-size: 24; font-weight: bold;}
.innerHeading {font-size: 18;}