/* - - - - - - - - - - - - - - - - - - - - -
Login Style definition
- - - - - - - - - - - - - - - - - - - - - */

@import url(navigation.css);
@import url(main.css);

#primaryContent
{
	margin-left:auto;
	margin-right:auto;
	width:340px;
	/*height:190px;*/
	margin-top: 50px;
	margin-bottom:90px;
	min-height: 190px;
}

/*:::::::::::::::::::::::::::::: FORM ::::::::::::::::::::::::::::::::::::::::::*/

#usernameLabel
{
	float:right;
	margin:8px;
}
#username
{
	width:197px;
}
#password
{
	width:197px;
}
#passwordLabel
{
	float:right;
	margin:8px;
}
input{
	padding:2px;
	padding-left:3px;
	font-size:.9em;
}

#submit
{
	float:right;
	margin:8px;
	margin-bottom:16px;	
}
