#tabNav {
	position: relative;
	width: 100%;
	height: 2em;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#tabNav ul{
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#tabNav ul li  {
	display: inline;
	list-style: none;
}

#tabNav ul a,#tabNav ul span,#tabNav ul a.current {
	width: 8em;
	display: block;
	float: left;
	padding: 6px 0;
	margin: 1px 5px 0 0;
	text-align: center;
	font: bold 0.7em Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #585858;
	letter-spacing: 0.1em;
}


#tabNav ul span,#tabNav ul a.current,#tabNav ul a.current:hover {
	border: 1px solid #A5A5A5;
	border-bottom: none;
	background: #D7D3B0 url(/assets/images/tabon_bg.png) repeat-x;
	padding-bottom: 10px;
	margin-top: 0;
}



#tabNav ul a {
	background: #FFFAE1;
	border: 1px solid #AAA;
	padding-bottom: 8px;
	margin-bottom:0px;
}

#tabNav ul a:hover {
	border-bottom: none;
	background: #FFF7CD;
}
