<pluginMetaData path="messagebuilder">
	<name>Message Builder Transformer Step</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.4.2</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides a Message Builder step-type for Mirth Connect transformers</description>
	<clientClasses>
		<string>com.mirth.connect.plugins.messagebuilder.MessageBuilderPlugin</string>
	</clientClasses>
	<library type="CLIENT" path="messagebuilder-client.jar" />
</pluginMetaData>