<pluginMetaData path="datatype-xml">
	<name>XML Data Type</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.6.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides support for the XML data type</description>
	<serverClasses>
		<string>com.mirth.connect.plugins.datatypes.xml.XMLDataTypeServerPlugin</string>
	</serverClasses>
	<clientClasses>
		<string>com.mirth.connect.plugins.datatypes.xml.XMLDataTypeClientPlugin</string>
	</clientClasses>
	<library type="CLIENT" path="datatype-xml-client.jar" />
	<library type="SHARED" path="datatype-xml-shared.jar" />
	<library type="SERVER" path="datatype-xml-server.jar" />
</pluginMetaData>