<pluginMetaData path="dicomviewer">
	<name>DICOM Viewer</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.0.1</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides DICOM attachment viewing capability in message browser</description>
	<clientClasses>
		<string>com.mirth.connect.plugins.dicomviewer.DICOMViewer</string>
	</clientClasses>
	<library type="CLIENT" path="dicomviewer-client.jar" />
	<library type="SHARED" path="lib/ij.jar" />
</pluginMetaData>