<pluginMetaData path="pdfviewer">
	<name>PDF Viewer</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>2.1.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides PDF attachment viewing capability in message browser.</description>
	<enabled>true</enabled>
	<clientClasses>
		<class>com.mirth.connect.plugins.pdfviewer.PDFViewer</class>
	</clientClasses>
	<library type="CLIENT" path="pdfviewer-client.jar" />
	<library type="CLIENT" path="lib/PDFRenderer.jar" />
</pluginMetaData>