<pluginMetaData path="pdfviewer">
	<name>PDF Viewer</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.0.1</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides PDF attachment viewing capability in message browser.</description>
	<clientClasses>
		<string>com.mirth.connect.plugins.pdfviewer.PDFViewer</string>
	</clientClasses>
	<library type="CLIENT" path="pdfviewer-client.jar" />
	<library type="CLIENT" path="lib/PDFRenderer.jar" />
</pluginMetaData>