<pluginMetaData path="messagepruner">
	<name>Message Pruner</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.0.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides a message pruning function for messages stored in Mirth Connect</description>
	<serverClasses>
		<string>com.mirth.connect.plugins.messagepruner.MessagePrunerService</string>
	</serverClasses>
	<clientClasses>
		<string>com.mirth.connect.plugins.messagepruner.MessagePrunerClient</string>
	</clientClasses>
	<library type="CLIENT" path="messagepruner-client.jar" />
	<library type="SERVER" path="messagepruner-server.jar" />
</pluginMetaData>