<pluginMetaData path="com.webreach.mirth.plugins.mapper">
	<name>Mapper Transformer Step</name>
	<author>WebReach, Inc.</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>1.7.1</mirthVersion>
	<url>http://extensions.mirthproject.org</url>
	<description>This plugin provides a Mapping step type for Mirth transformers</description>
	<enabled>true</enabled>
	<extensionPoint>
		<name>Mapper</name>
		<type>CLIENT_TRANSFORMER_STEP</type>
		<className>com.webreach.mirth.plugins.transformer.step.mapper.MapperStepPlugin</className>
		<mode>CLIENT</mode>
	</extensionPoint>
	<library type="CLIENT" path="mapper-client.jar" />
</pluginMetaData>
