<pluginMetaData path="mapper">
	<name>Mapper Transformer Step</name>
	<author>WebReach, Inc.</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>1.8.1</mirthVersion>
	<url>http://www.webreachinc.com</url>
	<description>This plugin provides a Mapping step type for Mirth transformers</description>
	<enabled>true</enabled>
	<extensionPoint>
		<name>Mapper</name>
		<type>CLIENT_TRANSFORMER_STEP</type>
		<className>com.webreach.mirth.plugins.mapper.MapperStepPlugin</className>
		<mode>CLIENT</mode>
	</extensionPoint>
	<library path="mapper-client.jar">
		<type>CLIENT</type>	
	</library>
</pluginMetaData>
